html,
body {
    font-family: "Open Sans", sans-serif;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    .wrapper {
        flex: 1 0 auto;
    }
    .container {
        max-width: 1220px;
        padding-inline: 15px;
        margin: 0 auto;
    }
    @media(max-width:1220px) {
        .container {
            max-width: 970px;
        }
    }
    @media(max-width:767px) {
        .container {
            max-width: none;
        }
    }
    .footer {
        flex-shrink: 0;
    }
}