.comments {
    text-align: center;
    margin-top: 65px;
    padding-bottom: 30px;
    .container {
        max-width: 900px;
    }
    .comments_wrapper {
        a {
            font-size: 34px;
            @media (max-width: 1220px) {
                font-size: 29px;
            }
            @media (max-width:767px) {
                font-size: 26px;
            }
        }
        .first-comment,
        .second-comment,
        .third-comment {
            min-width: 0;
            height: 100%;
        }
        p {
            min-width: 0;
            position: relative;
            font-size: 22px;
            font-weight: lighter;
            margin: 25px 0 0 1px;
            line-height: 37px;
            display: flex;
            @media (max-width: 1220px) {
                font-size: 18px;
                line-height: 30px;
            }
            @media (max-width:767px) {
                font-size: 15px;
                line-height: 24px;
            }
        }
        h3 {
            margin: 0;
            margin-top: 30px;
            font-weight: normal;
            font-size: 20px;
        }
        i {
            color: #888;
            font-size: 28px;
            font-weight: lighter;
            &.job {
                font-size: 17px;
            }
            &.fa-quote-right {
                margin-top: auto;
            }
            @media (max-width:1220px) {
                font-size: 24px;
            }
            @media (max-width:767px) {
                font-size: 20px;
            }
        }
        .fas {
            position: absolute;
            &.fa-quote-left {
                left: 0;
            }
            &.fa-quote-right {
                right: 0;
                left: 101%;
                bottom: 33%;
                font-size: 30px;
            }
        }
    }
    .slick-list {
        padding-bottom: 26px;
    }
    .slick-track {
        display: flex !important;
    }
    .slick-slide {
        height: inherit !important;
    }
}