.dev-site {
    text-align: center;
    a {
        font-size: 34px;
        @media (max-width: 767px) {
            font-size: 27px;
        }
    }
    .container {
        min-width: 0;
    }
    .dev-site_wrapper {
        margin: 65px 0 75px 0;
        justify-content: center;
        @media (max-width: 1220px) {
            margin: 35px 0;
        }
        @media (max-width:767px) {
            margin: 20px 0;
        }
        .slider {
            display: flex;
            margin-top: 30px;
            min-width: 0;
            text-align: center;
            img {
                margin: 0 auto;
            }
            h3 {
                margin: 16px 22px 24px 22px;
                padding-bottom: 17px;
                border-bottom: 1px solid #3498DB;
                font-weight: inherit;
                font-size: 24px;
                @media (max-width: 1220px) {
                    font-size: 21px;
                }
                @media (max-width:767px) {
                    font-size: 18px;
                }
            }
            p {
                margin: 16px 29px;
                padding-top: 4px;
                font-size: 16px;
                font-weight: lighter;
                line-height: 25px;
                @media (max-width: 1220px) {
                    font-size: 15px;
                }
                @media (max-width:767px) {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
    }
    .slick-track {
        display: flex;
        align-items: flex-start;
    }
    .slick-list {}
}


/* Слайдер */

.slick-slider {}


/* Слайдер запущен */

.slick-slider.slick-initialized {}


/* Слайдер с точками */

.slick-slider.slick-dotted {}


/* Лента слайдов */

.slick-track {}


/* Слайд */

.slick-slide {}


/* Слайд активный (показывается) */

.slick-slide.slick-active {}


/* Слайд основной */

.slick-slide.slick-current {}


/* Слайд по центру */

.slick-slide.slick-center {}


/* Клонированный слайд */

.slick-slide.slick-cloned {}


/* Стрелка */

.slick-arrow {}


/* Стрелка влево */

.slick-arrow.slick-prev {}


/* Стрелка вправо */

.slick-arrow.slick-next {}


/* Стрелка не активная */

.slick-arrow.slick-disabled {}


/* Точки (булиты) */

.slick-dots {}

.slick-dots li {}


/* Активная точка */

.slick-dots li.slick-active {}


/* Элемент точки */

.slick-dots li button {}