footer {
    background-color: #F7F7F7;
    text-align: center;
    color: #3498DB;
    font-size: 14px;
    p {
        margin: 0;
        &.copyright {
            padding: 50px 0 17px 0;
        }
        &.last {
            padding-bottom: 54px;
        }
    }
    a {
        color: #666;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}