.about-num {
    background-color: #3498DB;
    .about-num_wrapper {
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding: 56px 12px 80px 78px;
        color: #fff;
        @media (max-width: 1220px) {}
        @media (max-width: 767px) {
            display: block;
            column-count: 2;
            padding: 30px 15px;
            align-items: baseline;
        }
        img {
            width: 85px;
            height: 60px;
            margin-top: 24px;
            margin-left: 1px;
        }
        h3 {
            font-size: 28px;
            font-weight: normal;
            margin: 0;
            margin-top: 15px;
            @media (max-width: 1220px) {
                font-size: 25px;
            }
            @media (max-width:767px) {
                font-size: 22px;
            }
        }
        p {
            margin: 0;
            font-size: 16px;
            font-weight: lighter;
            margin-top: 9px;
            @media (max-width: 1220px) {
                font-size: 15px;
            }
            @media (max-width:767px) {
                font-size: 14px;
            }
        }
    }
}