.video {
    background: #F7F7F7;
    text-align: center;
    font-weight: lighter;
    padding-top: 65px;
    @media (max-width: 1220px) {
        padding-top: 30px;
    }
    a {
        font-size: 34px;
        @media (max-width: 1220px) {
            font-size: 30px;
        }
        @media (max-width:767px) {
            font-size: 26px;
        }
    }
    p {
        margin: 0;
        padding: 20px 0 0;
        font-size: 18px;
        line-height: 24px;
        @media (max-width: 1220px) {
            font-size: 17px;
            line-height: 22px;
        }
        @media (max-width:767px) {
            font-size: 15px;
            line-height: 20px;
        }
    }
    .iframe {
        width: 1020px;
        height: 521px;
        padding: 30px 0 60px 8px;
        @media (max-width: 1020px) {
            width: 100%;
            max-height: 460px;
        }
        @media (max-width:768px) {
            max-height: 240px;
        }
    }
}