.our_mentors {
    h2 {
        text-align: center;
        margin: 62px 0 0;
        font-size: 34px;
        font-weight: normal;
        @media (max-width: 767px) {
            font-size: 26px;
            margin-top: 20px;
        }
    }
    .mentors-wrapper {
        min-width: 0;
        padding-bottom: 50px;
        .slider3 {
            .first-mentor,
            .second-mentor,
            .third-mentor {
                display: flex;
                gap: 20px;
                @media (max-width: 1220px) {
                    flex-direction: column;
                    align-items: center;
                }
            }
            .about-mentor {
                padding-left: 86px;
                @media (max-width: 1220px) {
                    padding-left: 0;
                }
                h3 {
                    margin: 31px 0 14px 0;
                    font-size: 20px;
                    border-bottom: 2px #F7F7F7;
                    color: #3498DB;
                    @media (max-width: 1220px) {
                        margin: 15px 0;
                        text-align: center;
                    }
                }
                .inform {
                    padding: 31px 30px 0 0;
                    font-size: 16px;
                    font-weight: lighter;
                    line-height: 25px;
                    p {
                        margin: 0 0 10px 0;
                    }
                    @media (max-width:1220px) {
                        font-size: 15px;
                        padding: 10px 0;
                        line-height: 20px;
                        text-align: center;
                    }
                    @media (max-width:767px) {
                        font-size: 13px;
                    }
                }
            }
            img {
                padding: 1px 0 0 75px;
                width: 337px;
                height: 356px;
                @media (max-width: 1220px) {
                    padding: 0;
                    width: 300px;
                    height: 310px;
                }
                @media (max-width:767px) {
                    width: 200px;
                    height: 205px;
                }
            }
            .slick-list {
                padding-bottom: 5px;
            }
        }
    }
}