$slick-font-path: "../fonts/";
@import '../../node_modules/slick-carousel/slick/slick-theme.scss';
@import '../../node_modules/slick-carousel/slick/slick.scss';
@import 'fonts';
@import 'header';
@import 'body';
@import 'sign-up';
@import 'course-dev_site';
@import 'little-about-num';
@import 'comments';
@import 'video';
@import 'our_mentors';
@import 'contacts';
@import 'footer';